mixin pagination(page ,pages ,count)
    .pagination
        .pagination__prev
            if page > 1
                a(href=`/stores/page/${page - 1}`) Prev
        .pagination__text
            p Page #{page} of #{pages} - #{count} total results
        .pagination__next
            if page < pages
                //- parseFloat is required to convert string to num, other wise 1 + 1 will lead to 11
                a(href=`/stores/page/${parseFloat(page)+1}`) Next